<?php
/**
 * @var $block Head
 */

use Kowal\GoogleTagManager\Block\Head;

?>
<?php
if($block->isEnable()){
    ?>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<?= $block->gtmId() ?>" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<?php } ?>
